<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="helloWorld" class="spring.javaSe.helloword.bean.HelloWorld">
		<property name="name" value="Spring"></property>
	</bean>
	
	<!-- 构造函数 -->
	<bean id="person1" class="SpringSE.constructor.PersonService"/>
	
	<bean id="person2" class="SpringSE.constructor.PersonService">
		<constructor-arg>
			<value>snake</value>
		</constructor-arg>
	</bean>
	<bean id="person3" class="SpringSE.constructor.PersonService">
		<constructor-arg value="snake" type="java.lang.String" index="0"/>
		<constructor-arg value="22" type="int"/>
		<constructor-arg value="snake" type="java.lang.String" index="1"/>
	</bean>
	<!-- 特殊字符可以使用CDATA包括 -->
	<bean id="person4" class="SpringSE.constructor.PersonService">
		<constructor-arg>
			<value>
				<![CDATA[<snakeSS>]]>
			</value>
		</constructor-arg>
	</bean>
	<!-- 为级联属性赋值 -->
	<bean id="person" class="SpringSE.constructor.Person"></bean>
	<bean id="person5" class="SpringSE.constructor.PersonBean">
		<property name="name">
			<value>spring</value>
		</property>
		<property name="person">
			<ref bean="person"/>
		</property>
		<!-- 为级联属性赋值 -->
		<property name="person.id" value="1000"></property>
		<property name="person.name" value="springs"></property>
	</bean>
	<!-- 集合 -->
	<bean id="listArraySetBean" class="SpringSE.collection.ListArraySet">
		<property name="list">
			<list>
				<value>B</value>
				<value>C</value>
				<value>D</value>
				<value>A</value>
			</list>
		</property>
		<property name="array">
			<array>
				<value>1</value>
				<value>2</value>
				<value>3</value>
				<value>4</value>
			</array>
		</property>
		<property name="set">
			<set>
				<value>E</value>
				<value>C</value>
				<value>B</value>
				<value>D</value>
				<value>A</value>
			</set>
		</property>
		<property name="listint">
			<list>
				<value>1</value>
				<value>3</value>
				<value>4</value>
				<value>2</value>
			</list>
		</property>
	</bean>	
	
	<bean id="test" class="SpringSE.collection.ListArraySet">
		<property name="list">
			<list>
				<value>B</value>
				<value>C</value>
				<value>D</value>
				<value>A</value>
			</list>
		</property>
		<property name="array">
			<array>
				<value>1</value>
				<value>2</value>
				<value>3</value>
				<value>4</value>
			</array>
		</property>
		<property name="set">
				<set value-type="java.util.Set" >
					<value>B</value>
					<value>C</value>
					<value>D</value>
					<value>A</value>
				</set>
		</property>
		<property name="listint">
			<list>
				<value>1</value>
				<value>3</value>
				<value>4</value>
				<value>2</value>
			</list>
		</property>
	</bean>
	<!-- 注入Map -->
	<bean id="testVo" class="SpringSE.collection.TestVO">
		<property name="id" value="11"></property>
		<property name="name" value="spring"></property>
	</bean>
	<bean id="testMap" class="SpringSE.collection.MapBean">
		<property name="testMap">
			<map>
				<entry key="11" value-ref="testVo"></entry>
				<entry key="22" value-ref="testVo"></entry>
				<entry key="33" value-ref="testVo"></entry>
			</map>
		</property>
	</bean>
	
	<!-- 配置properites -->
	<bean id="propertiesBean" class="SpringSE.collection.PropertiesBean">
		<property name="properties">
			<props>
				<prop key="user">root</prop>
				<prop key="pass">root</prop>
			</props>
		</property>
	</bean>
	
	<!-- 使用uitl配置独立的集合 -->
	<util:map id="uitlMap">
		<entry key="99" value-ref="testVo"></entry>
		<entry key="88" value-ref="testVo"></entry>
		<entry key="77" value-ref="testVo"></entry>
		<entry key="66" value-ref="testVo"></entry>
	</util:map>
	<!-- 使用util:map -->
	<bean id="testMap1" class="SpringSE.collection.MapBean">
		<property name="testMap">
			<ref bean="uitlMap"/>
		</property>
	</bean>
	<!-- 使用p命名空间便捷的配置属性 -->
	<bean id="testMap2" class="SpringSE.collection.MapBean" p:testMap-ref="uitlMap"></bean>
	
	
	
	<!-- 自动加载 -->
	<bean id="stu" class="SpringSE.AutoLoadBean.Student"/>
	<!-- 通过指定autowire属性完成自动转配 -->
	<bean id="autoDemo" class="SpringSE.AutoLoadBean.annotationDemo" autowire="byType">
	<!--  
		<property name="per">
			<ref bean="stu"/>
		</property>
	-->
	</bean>
	
	<!-- dependentCheck -->
	<bean id="sdf" class="java.text.SimpleDateFormat">
		<constructor-arg value="yyyy-MM-dd" />
	</bean>
	<!-- 通过 depends-on="sdf"指定在实例化该bean是必需依赖于sdf这个bean-->
	<bean id="testdepentcheck" class="SpringSE.dependentcheck.simplecheck" depends-on="sdf" autowire="byName">
		<property name="name" value="snake" />
		<property name="age" value="20" />
	</bean>
	<!-- extendBean -->
	<!-- 如果为bean设置abstract=true 则以为着定义了一个抽象bean，不能是实例化 -->
	<bean id="base" abstract="true">
		<property name="name" value="snake"/>
		<property name="pass" value="123456"/>
	</bean>
	<bean id="child" class="SpringSE.extendBean.extendBean" parent="base"/>
	
	<!-- refBean -->
	<bean id="sdf2" class="java.text.SimpleDateFormat">
		<constructor-arg value="yyyy-MM-dd HH:mm:ss"/>
	</bean>
	
	<bean id="year" class="SpringSE.refbean.TestRef">
		<property name="patter">
			<bean class="java.lang.String">
				<constructor-arg value="yyyy-MM-dd"/>
			</bean>
		</property>
		<property name="sdf2">
			<ref bean="sdf2"/>
		</property>
	</bean>
	<bean id="time" class="SpringSE.refbean.TestRef">
		<property name="patter">
			<bean class="java.lang.String">
				<constructor-arg value="HH:mm:ss"/>
			</bean>
		</property>
				<property name="sdf2">
			<ref bean="sdf2"/>
		</property>
	</bean>
	
	
	<!-- scope -->
	<!-- 未指定scope属性 -->
	<bean id="testScope" class="SpringSE.TestScope.TestScope">
		<property name="test"><value>this is test</value></property>
	</bean>
	<!-- 指定scope属性 -->
	<bean id="testScope1" class="SpringSE.TestScope.TestScope" scope="prototype">
		<property name="test"><value>this is test</value></property>
	</bean>
	<!-- 数据库 -->
	<!-- 
	<bean id="OracleDataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>oracle.jdbc.driver.OracleDriver</value>
		</property>
		<property name="url">
			<value>jdbc:oracle:thin:@127.0.0.1:1521:ORCL</value>
		</property>
		<property name="username">
			<value>scott</value>
		</property>
		<property name="password">
			<value>tiger</value>
		</property>
	</bean>
	 -->
	 
	 
	 
</beans>
